<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: common_header(~{::title})">
    <title>添加自选股-投资日记</title>
</head>
<body th:replace="layout :: common_body(~{::div.contain_content})">


<div class="contain_content">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <div class="section">
        <div class="container">
            <div class="tile">
                <div class="tile is-vertical is-parent">
                    <div class="box">
                        <div class="media">
                            <blockquote class="layui-elem-quote layui-text">
                                股票投资记录，时间久了，这就是你的大数据。1. <a href="/stock/list">查看我的自选股</a>
                            </blockquote>
                        </div>

                    </div>
                    <div class="box">
                        <div class="layui-form-item">

                            <label class="layui-form-label" style="width: 120px;">股票代码</label>
                            <div class="layui-input-inline">
                                <input type="text" name="code" id="code" lay-verify="required|number" maxlength="6"
                                       placeholder="请输入股票代码" autocomplete="off" class="layui-input">
                            </div>


                        </div>


                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 120px;">行业板块</label>
                            <div class="layui-input-block">
                                <input type="text" name="plate" id="plate" maxlength="50" style="width: 70%"
                                       lay-verify="required" placeholder="请填写行业板块信息" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label" style="width: 120px;">备注</label>
                            <div class="layui-input-block">
                            <textarea placeholder="请输入内容" name="comment" id="comment" maxlength="100" style="width: 70%"
                                      class="layui-textarea"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit="" id="submit" lay-filter="demo1">立即提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
        <script src="/static/layui/layui.js" charset="utf-8"></script>
        <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
        <script>
            layui.use(['form', 'layedit', 'laydate', 'jquery'], function () {
                var form = layui.form
                    , layer = layui.layer
                    , layedit = layui.layedit
                    , $ = layui.jquery
                    , laydate = layui.laydate;


                $(function () {
                    $("#submit").click(function () {

                        var code = $("#code").val();
                        var plate = $("#plate").val();
                        var comment = $("#comment").val();
                        // alert(code.length)
                        if (code == '' || code.length != 6) {
                            alert("请填写正确的股票代码");
                            return;
                        }

                        var formdata = new FormData();
                        formdata.append('code', code);
                        formdata.append('plate', plate);
                        formdata.append('comment', comment);


                        $.ajax({
                            url: "/stock/add",
                            type: "POST",
                            dataType: "json",
                            processData: false,
                            contentType: false,
                            data: formdata,
                            success: function (res) {
                                if (res.code == 0) {
                                    alert("添加成功");
                                    window.location.href = "/";
                                } else
                                    alert(JSON.stringify(res));
                                //return false;
                            }
                        });
                    })
                })

                //监听提交
                // form.on('submit(demo1)', function(data){
                //     layer.alert(JSON.stringify(data.field), {
                //         title: '最终的提交信息'
                //     })
                //     return true;
                // });

            });
        </script>
</div>
</body>
</html>