<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: common_header(~{::title})">
    <title th:text="${stock.name}">我的自选股-投资日记</title>
</head>
<body th:replace="layout :: common_body(~{::div.contain_content})">


<div class="contain_content">
    <script src="https://img.highcharts.com.cn/jquery/jquery-1.8.3.min.js"></script>
    <script src="https://img.highcharts.com.cn/highstock/highstock.js"></script>
    <script src="https://img.highcharts.com.cn/highcharts/modules/exporting.js"></script>
    <script src="https://img.highcharts.com.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
    <script src="https://img.highcharts.com.cn/highcharts/modules/drag-panes.js"></script>
    <script src="/static/echarts.common.min.js"></script>
    <script src="/static/echarts.min.js"></script>
    <!--<link href="http://img1.cache.netease.com/f2e/finance/gegu/s.1064000.css" rel="stylesheet" type="text/css"-->
    <!--charset="utf-8">-->
    <link href="/static/css/stock.css" rel="stylesheet" type="text/css"/>


    <div class="navbar has-shadow" style="position: relative; top: 1px;">
        <div class="container">
            <div class="navbar-tabs">
                <a href="#" class="navbar-item is-tab is-active">K线图</a>
                <a class="navbar-item is-tab" th:href="${'http://stockpage.10jqka.com.cn/'+ code}"
                   target="_blank">基本面</a>
                <a class="navbar-item is-tab" th:href="${'http://stockpage.10jqka.com.cn/'+code+'/field/#fieldstatus'}"
                   target="_blank">行业地位</a>
                <a class="navbar-item is-tab" th:href="${'http://quotes.money.163.com/f10/zycwzb_'+code+'.html#01c06'}" target="_blank">财务数据</a>
                <a class="navbar-item is-tab" th:href="${'/stock/analyse?code='+code}" target="_blank">股票诊断</a>
                <a class="navbar-item is-tab" th:href="${'/invest/list?code='+code}" target="_blank">持股</a>
                <!--<a href="#" class="navbar-item is-tab">专栏</a>-->
                <!--<a href="#" class="navbar-item is-tab">Live</a>-->
                <!--<a href="#" class="navbar-item is-tab">私家课</a>-->
                <!--<a href="#" class="navbar-item is-tab">电子书</a>-->
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="tile">
                <div class="tile is-vertical is-parent is-8">
                    <div class="box">

                        <div class="media">
                            <!--<script type="text/javascript" th:src="${'http://hq.sinajs.cn/list='+stock.ecode}"-->
                            <!--charset="gb2312">-->
                            <!--</script>-->


                            <div class="stock_info">
                                <table>
                                    <tbody>
                                    <tr>
                                        <td class="col_1" style="width: 150px;">
                                            <h1 class="name">
                                                <a href="/1300059.html">[[${name}]]</a>
                                                <span>(<a href="/1300059.html">[[${code}]]</a>)</span>
                                            </h1>
                                        </td>
                                        <td class="col_2">
                                            <div class="stock_detail">
                                                <table style="width:715px">
                                                    <tbody>
                                                    <tr>
                                                        <td class="price">
                                                            <span class="price_arrow "><strong class=" "
                                                                                               id="price">--</strong></span>
                                                            <em class=" " id="updown">0.00</em><br>
                                                            <em class=" " id="percent">0.00%</em>
                                                        </td>
                                                        <td>今开：<strong class=" " id="open">--</strong><br>
                                                            昨收：<strong class=" " id="yestclose">--</strong>
                                                        </td>
                                                        <td>最高：<strong id="high" class=" ">--</strong><br>
                                                            最低：<strong id="low" class=" ">--</strong></td>
                                                        <td>成交量：<strong id="volume">0万手</strong><br>
                                                            成交额：<strong id="turnover">0亿</strong>
                                                        </td>
                                                        <td>量比：<strong id="liangbi">0</strong><br>换手：<strong
                                                                id="huanshou">0%</strong>
                                                        </td>

                                                    </tr>
                                                    <tr class="stock_bref">
                                                        <td><span _ntesquote_="code:1300059;attr:time"
                                                                  class="refresh_time" id="time">--</span></td>
                                                        <td>流通市值：<span id="ltsz">--</span><br/>
                                                            总市值：<span id="zsz">--</span><br/>
                                                        </td>
                                                        <td title="市盈率=最新股价/最近四个季度每股收益之和">市盈率：<span
                                                                id="syl">--</span><br/>
                                                            市净率：<span id="sjl">--</span>
                                                        </td>
                                                        <td>振 幅：<span class="cRed" id="zhenfu">--</span></td>
                                                        <td>
                                                            <!--52周最低：<span class="cGreen">10.03</span>-->
                                                        </td>

                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="media">
                            <div class="media-content">
                                <div class="content">
                                    <div id="container" style="min-width:400px;height:600px">图表加载中...</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tile is-vertical is-parent">
                    <div class="card">
                        <div class="card-header">
                            <p class="card-header-title">相关结果</p>
                        </div>
                        <div class="card-content">
                            <div class="media" id="stock_charts" style="width: 360px;height:400px;">
                            </div>
                        </div>
                        <!--<div class="card-content">-->
                            <!--<div class="media">-->
                                <!--&lt;!&ndash;<div class="media-left">&ndash;&gt;-->
                                <!--&lt;!&ndash;<figure class="image is-64x64">&ndash;&gt;-->
                                <!--&lt;!&ndash;<img src="https://bulma.io/images/placeholders/128x128.png" alt="">&ndash;&gt;-->
                                <!--&lt;!&ndash;</figure>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--<div class="media-content">-->
                                    <!--<p>-->
                                        <!--<strong>持股数量：[[${stock.quantity}]]</strong>-->
                                        <!--<span class="tag is-gray">专栏</span></p>-->
                                    <!--<p>-->
                                        <!--1.6K 关注 | 12 篇文章-->
                                    <!--</p>-->
                                <!--</div>-->

                                <!--<div class="media-content">-->
                                    <!--<a target="_blank" class="button is-info" href="/invest/add">交易</a>-->
                                <!--</div>-->

                            <!--</div>-->
                        <!--</div>-->
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <p class="card-header-title">五档盘口</p>
                        </div>
                        <div class="card-content">
                            <div class="compare_cont border_box">
                                <div class="title_02">
                                    <!-- TODO 需要处理处理！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！-->
                                    <div class="bottom_line wbwc_title"><span>委比：<em
                                            id="buysell_wb">41.95%</em></span><span>委差：<em
                                            id="buysell_wc">21,986</em></span></div>
                                </div>
                                <table>
                                    <tbody>
                                    <tr>
                                        <td>卖五</td>
                                        <td _ntesquote_="code:1300059;attr:ask5;fixed:2;color:updown"
                                            class="                                                                                                                                                                                                                                                                                                             cRed">
                                            20.02
                                        </td>
                                        <td _ntesquote_="code:1300059;attr:askvol5;/:100;fixed:0">1920</td>
                                    </tr>
                                    <tr>
                                        <td>卖四</td>
                                        <td _ntesquote_="code:1300059;attr:ask4;fixed:2;color:updown"
                                            class="                                                                                                                                                                                                                                                                                                             cRed">
                                            20.01
                                        </td>
                                        <td _ntesquote_="code:1300059;attr:askvol4;/:100;fixed:0">1445</td>
                                    </tr>
                                    <tr>
                                        <td>卖三</td>
                                        <td _ntesquote_="code:1300059;attr:ask3;fixed:2;color:updown"
                                            class="                                                                                                                                                                                                                                                                                                             cRed">
                                            20.00
                                        </td>
                                        <td _ntesquote_="code:1300059;attr:askvol3;/:100;fixed:0">6523</td>
                                    </tr>
                                    <tr>
                                        <td>卖二</td>
                                        <td _ntesquote_="code:1300059;attr:ask2;fixed:2;color:updown"
                                            class="                                                                                                                                                                                                                                                                                                             cRed">
                                            19.99
                                        </td>
                                        <td _ntesquote_="code:1300059;attr:askvol2;/:100;fixed:0">2695</td>
                                    </tr>
                                    <tr>
                                        <td>卖一</td>
                                        <td _ntesquote_="code:1300059;attr:ask1;fixed:2;color:updown"
                                            class="                                                                                                                                                                                                                                                                                                             cRed">
                                            19.98
                                        </td>
                                        <td _ntesquote_="code:1300059;attr:askvol1;/:100;fixed:0">2627</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="title_02">
                                    <div class="bottom_line  wbwc_title"><span>当前价(元)：<em><span
                                            _ntesquote_="code:1300059;attr:price;fixed:2;color:updown"
                                            class="                                                                                                                                                                                                                                                                                                             cRed">19.97</span></em></span>
                                    </div>
                                </div>
                                <table>
                                    <tbody>
                                    <tr>
                                        <td>买一</td>
                                        <td _ntesquote_="code:1300059;attr:bid1;fixed:2;color:updown"
                                            class="                                                                                                                                                                                                                                                                                                             cRed">
                                            19.97
                                        </td>
                                        <td _ntesquote_="code:1300059;attr:bidvol1;/:100;fixed:0">3819</td>
                                    </tr>
                                    <tr>
                                        <td>买二</td>
                                        <td _ntesquote_="code:1300059;attr:bid2;fixed:2;color:updown"
                                            class="                                                                                                                                                                                                                                                                                                             cRed">
                                            19.96
                                        </td>
                                        <td _ntesquote_="code:1300059;attr:bidvol2;/:100;fixed:0">17244</td>
                                    </tr>
                                    <tr>
                                        <td>买三</td>
                                        <td _ntesquote_="code:1300059;attr:bid3;fixed:2;color:updown"
                                            class="                                                                                                                                                                                                                                                                                                             cRed">
                                            19.95
                                        </td>
                                        <td _ntesquote_="code:1300059;attr:bidvol3;/:100;fixed:0">11881</td>
                                    </tr>
                                    <tr>
                                        <td>买四</td>
                                        <td _ntesquote_="code:1300059;attr:bid4;fixed:2;color:updown"
                                            class="                                                                                                                                                                                                                                                                                                             cRed">
                                            19.94
                                        </td>
                                        <td _ntesquote_="code:1300059;attr:bidvol4;/:100;fixed:0">3517</td>
                                    </tr>
                                    <tr>
                                        <td>买五</td>
                                        <td _ntesquote_="code:1300059;attr:bid5;fixed:2;color:updown"
                                            class="                                                                                                                                                                                                                                                                                                             cRed">
                                            19.93
                                        </td>
                                        <td _ntesquote_="code:1300059;attr:bidvol5;/:100;fixed:0">736</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="title_02  wbwc_title" style="border-bottom:none;"><span>外盘：<em class="cRed">1570670手</em></span><span>内盘：<em
                                        class="cGreen">1317094手</em></span></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- container -->
    </div>

    <script>

    </script>
    <script type="text/javascript" th:src="${'http://qt.gtimg.cn/q='+stock.ecode}"></script>
    <script type="text/javascript" th:src="${'http://qt.gtimg.cn/q=ff_'+stock.ecode}"></script>
    <script>
        var code = '[[${ecode}]]';

        //网易股票数据处理
        function _ntes_quote_callback65642556(result) {
            // alert(JSON.stringify(result));
            // alert(JSON.stringify(result['1300059']));
            var data = result[code];

            //涨跌幅
            var percent = data['percent'] * 100;
            if (percent > 0) {
                $("#percent").addClass("cRed");
                $("#percent").removeClass("cGreen");
                $("#percent").text(percent.toFixed(2) + "%");
            } else {
                $("#percent").addClass("cGreen");
                $("#percent").removeClass("cRed");
                $("#percent").text(percent.toFixed(2) + "%");
            }
            //当前价格
            var price = data['price'];
            if (percent > 0) {
                $("#price").addClass("cRed");
                $("#price").removeClass("cGreen");
                $("#price").text(price.toFixed(2));
                $("#price").parent().removeClass("down");
                $("#price").parent().addClass("up");
            } else {
                $("#price").addClass("cGreen");
                $("#price").removeClass("cRed");
                $("#price").text(price.toFixed(2));
                $("#price").parent().removeClass("up");
                $("#price").parent().addClass("down");
            }

            //涨跌金额
            var updown = data['updown'];
            if (updown > 0) {
                $("#updown").addClass("cRed");
                $("#updown").removeClass("cGreen");
                $("#updown").text(updown);
            } else {
                $("#updown").addClass("cGreen");
                $("#updown").removeClass("cRed");
                $("#updown").text(updown);
            }

            //今开
            var open = data['open'];
            if (percent > 0) {
                $("#open").addClass("cRed");
                $("#open").removeClass("cGreen");
                $("#open").text(open);
            } else {
                $("#open").addClass("cGreen");
                $("#open").removeClass("cRed");
                $("#open").text(open);
            }
            //昨收
            var yestclose = data['yestclose'];
            if (percent > 0) {
                $("#yestclose").addClass("cRed");
                $("#yestclose").removeClass("cGreen");
                $("#yestclose").text(yestclose);
            } else {
                $("#yestclose").addClass("cGreen");
                $("#yestclose").removeClass("cRed");
                $("#yestclose").text(yestclose);
            }

            //最高
            var high = data['high'];
            if (percent > 0) {
                $("#high").addClass("cRed");
                $("#high").removeClass("cGreen");
                $("#high").text(high);
            } else {
                $("#high").addClass("cGreen");
                $("#high").removeClass("cRed");
                $("#high").text(open);
            }
            //最低
            var low = data['low'];
            if (percent > 0) {
                $("#low").addClass("cRed");
                $("#low").removeClass("cGreen");
                $("#low").text(low);
            } else {
                $("#low").addClass("cGreen");
                $("#low").removeClass("cRed");
                $("#low").text(low);
            }

            //成交量
            var volume = data['volume'];
            $("#volume").text((volume / 1000000).toFixed(2) + "万手")

            //成交额
            var turnover = data['turnover'];
            $("#turnover").text((turnover / 100000000).toFixed(2) + "亿");

            // alert(percent);
        }

        //腾讯股票数据处理
        function gtimg() {
            var data = v_[[${stock.ecode}]].split('~');
            //涨跌幅
            var percent = parseFloat(data[32]);
            if (percent > 0) {
                $("#percent").addClass("cRed");
                $("#percent").removeClass("cGreen");
                $("#percent").text(percent.toFixed(2) + "%");
            } else {
                $("#percent").addClass("cGreen");
                $("#percent").removeClass("cRed");
                $("#percent").text(percent.toFixed(2) + "%");
            }
            //当前价格
            var price = parseFloat(data[3]);
            if (percent > 0) {
                $("#price").addClass("cRed");
                $("#price").removeClass("cGreen");
                $("#price").text(price.toFixed(2));
                $("#price").parent().removeClass("down");
                $("#price").parent().addClass("up");
            } else {
                $("#price").addClass("cGreen");
                $("#price").removeClass("cRed");
                $("#price").text(price.toFixed(2));
                $("#price").parent().removeClass("up");
                $("#price").parent().addClass("down");
            }

            //涨跌金额
            var updown = data[31];
            if (updown > 0) {
                $("#updown").addClass("cRed");
                $("#updown").removeClass("cGreen");
                $("#updown").text(updown);
            } else {
                $("#updown").addClass("cGreen");
                $("#updown").removeClass("cRed");
                $("#updown").text(updown);
            }

            //今开
            var open = data[5];
            if (percent > 0) {
                $("#open").addClass("cRed");
                $("#open").removeClass("cGreen");
                $("#open").text(open);
            } else {
                $("#open").addClass("cGreen");
                $("#open").removeClass("cRed");
                $("#open").text(open);
            }
            //昨收
            var yestclose = data[4];
            if (percent > 0) {
                $("#yestclose").addClass("cRed");
                $("#yestclose").removeClass("cGreen");
                $("#yestclose").text(yestclose);
            } else {
                $("#yestclose").addClass("cGreen");
                $("#yestclose").removeClass("cRed");
                $("#yestclose").text(yestclose);
            }

            //最高
            var high = data[33];
            if (percent > 0) {
                $("#high").addClass("cRed");
                $("#high").removeClass("cGreen");
                $("#high").text(high);
            } else {
                $("#high").addClass("cGreen");
                $("#high").removeClass("cRed");
                $("#high").text(open);
            }
            //最低
            var low = data[34];
            if (percent > 0) {
                $("#low").addClass("cRed");
                $("#low").removeClass("cGreen");
                $("#low").text(low);
            } else {
                $("#low").addClass("cGreen");
                $("#low").removeClass("cRed");
                $("#low").text(low);
            }

            //成交量
            var volume = parseFloat(data[36]);
            $("#volume").text((volume / 10000).toFixed(2) + "万手")

            //成交额
            var turnover = parseFloat(data[37]);
            // alert(data[37])
            $("#turnover").text((turnover / 10000).toFixed(2) + "亿");

            //换手率
            var huanshou = data[38];
            // alert(huanshou);
            $("#huanshou").text(huanshou + "%");
            //量比
            var liangbi = data[49];
            $("#liangbi").text(liangbi);
            // alert(liangbi);

            //流通市值、总市值
            var ltsz = data[44];
            // alert(ltsz);
            $("#ltsz").text(ltsz + "亿")
            var zsz = data[45];
            // alert(zsz);
            $("#zsz").text(zsz + "亿");
            //市净率
            var sjl = data[46];
            // alert(sjl);
            $("#sjl").text(sjl);
            //市盈率
            var syl = data[39];
            // alert(syl)
            $("#syl").text(syl);
            //振幅zhenfu
            var zhenfu = data[43];
            $("#zhenfu").text(zhenfu + "%");
            //更新时间
            var time = data[30];
            var _NewTime = insertStr(insertStr(insertStr(insertStr(insertStr(time, 4, "/"), 7, "/"), 10, "  "), 14, ":"), 17, ":");
            // alert(time);
            $("#time").text(_NewTime);

            // alert(vArr[46]);
            // alert(vArr[31]);
            // alert(vArr[32]);
        }

        function insertStr(soure, start, newStr) {

            return soure.slice(0, start) + newStr + soure.slice(start);
        }

        $(function () {
            Highcharts.setOptions({
                lang: {
                    rangeSelectorZoom: ''
                }
            });

            //腾讯股票接口数据处理
            gtimg();

            //网易股票接口
            // $("head").append("<script src='http://api.money.126.net/data/feed/"+code+",money.api?callback=_ntes_quote_callback65642556'><\/script>");

            //https://data.jianshukeji.com/stock/history/000001
            $.getJSON('/stock/kdata/[[${code}]]', function (data) {
                if (data.code !== 1) {
                    alert('读取股票数据失败！');
                    return false;
                }
                data = data.data;
                var ohlc = [],
                    volume = [],
                    dataLength = data.length,
                    // set the allowed units for data grouping
                    groupingUnits = [
                        [
                            'week',                         // unit name
                            [1]                             // allowed multiples
                        ], [
                            'month',
                            [1, 2, 3, 4, 6]
                        ]],
                    i = 0;
                for (i; i < dataLength; i += 1) {
                    ohlc.push([
                        data[i][0], // the date
                        data[i][1], // open
                        data[i][2], // high
                        data[i][3], // low
                        data[i][4] // close
                    ]);
                    volume.push([
                        data[i][0], // the date
                        data[i][5] // the volume
                    ]);
                }
                // create the chart
                var chart = Highcharts.stockChart('container', {
                    rangeSelector: {
                        selected: 1,
                        inputDateFormat: '%Y-%m-%d'
                    },
                    title: {
                        text: '[[${stock.name}]]历史股价'
                    },
                    xAxis: {
                        dateTimeLabelFormats: {
                            millisecond: '%H:%M:%S.%L',
                            second: '%H:%M:%S',
                            minute: '%H:%M',
                            hour: '%H:%M',
                            day: '%m-%d',
                            week: '%m-%d',
                            month: '%y-%m',
                            year: '%Y'
                        }
                    },
                    tooltip: {
                        split: false,
                        shared: true,
                    },
                    yAxis: [{
                        labels: {
                            align: 'right',
                            x: -3
                        },
                        title: {
                            text: '股价'
                        },
                        height: '65%',
                        resize: {
                            enabled: true
                        },
                        lineWidth: 2
                    }, {
                        labels: {
                            align: 'right',
                            x: -3
                        },
                        title: {
                            text: '成交量'
                        },
                        top: '65%',
                        height: '35%',
                        offset: 0,
                        lineWidth: 2
                    }],
                    series: [{
                        type: 'candlestick',
                        name: '[[${stock.name}]]',
                        color: 'green',
                        lineColor: 'green',
                        upColor: 'red',
                        upLineColor: 'red',
                        tooltip: {},
                        navigatorOptions: {
                            color: Highcharts.getOptions().colors[0]
                        },
                        data: ohlc,
                        dataGrouping: {
                            units: groupingUnits
                        },
                        id: 'sz'
                    }, {
                        type: 'column',
                        data: volume,
                        yAxis: 1,
                        dataGrouping: {
                            units: groupingUnits
                        }
                    }]
                });
            });
        })

    </script>

    <script>
        var echartsPie;
        //获取实时资金流向：
        var zjlx = v_ff_[[${stock.ecode}]].split('~');

        var dataJson = [
            {value:zjlx[1],name:'主力流入'},
            {value:zjlx[5],name:'散户流入'},

            {value:zjlx[2],name:'主力流出'},

            {value:zjlx[6],name:'散户流出'}
        ];
        var option = {
            // title : {
            //     text: '某站点用户访问来源',
            //     subtext: '纯属虚构',
            //     x:'center'
            // },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            toolbox: {
                show : true,
                feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false},
                    magicType : {
                        show: true,
                        type: ['pie', 'funnel'],
                        option: {
                            funnel: {
                                x: '25%',
                                width: '50%',
                                funnelAlign: 'left',
                                max: 1548
                            }
                        }
                    },
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            calculable : true,
            series : [
                {
                    name:'资金统计',
                    type:'pie',
                    radius : '50%',
                    center: ['50%', '50%'],
                    color:['#ff0033','#FF6A6A','#000080','#00CD00'],
                    data:dataJson
                }
            ]
        };
        echartsPie = echarts.init(document.getElementById('stock_charts'));
        $(function () {
            echartsPie.setOption(option);
        })

    </script>

</div>
</body>
</html>