<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: common_header(~{::title})">
    <title>我的自选股-投资日记</title>
</head>
<body th:replace="layout :: common_body(~{::div.contain_content})">


<div class="contain_content">
<link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
<div class="section">
    <div class="container">
        <div class="tile">
            <div class="tile is-vertical is-parent">
                <div class="box">
                    <div class="media">
                        <blockquote class="layui-elem-quote layui-text">
                            我的自选股，时间久了，这就是你的大数据。1. <a href="/stock/add">添加自选股</a>
                        </blockquote>
                    </div>

                </div>


                <div class="layui-form box">
                    <table class="layui-table">
                        <colgroup>
                            <col width="">
                            <col width="">
                            <col width="">
                            <col width="">
                            <col width="">

                        </colgroup>
                        <thead>
                        <tr>

                            <th>股票</th>
                            <th>板块</th>

                            <th>持股</th>
                            <th>当前价</th>
                            <th>备注</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item:${stock_list}">

                            <td>
                                <strong th:text="${item.code}">贤心</strong><br/>
                                <b th:text="${item.name}"></b><br/>
                                <a href="javascript:;" style="color:#1E9FFF" class="chat_k"
                                   th:attr="ecode=${item.ecode}">K线图</a><br/>
                                <a style="color:#1E9FFF" th:href="${'/stock/detail/'+item.code}">技术分析</a><br/>
                                <a style="color:#1E9FFF" th:href="${'http://stockpage.10jqka.com.cn/'+item.code}"
                                   target="_blank">基本面</a><br/>
                                <a style="color:#1E9FFF" th:href="${'/stock/analyse?code='+item.code}">股票分析</a><br/>
                                <a style="color:#1E9FFF" target="_blank" th:href="${'http://quotes.money.163.com/f10/zycwzb_'+item.code+'.html#01c06'}">财务数据</a><br/>
                            </td>
                            <td>
                                <b th:text="${item.board}"></b><br/>
                                <span th:text="${item.plate}"></span>
                            </td>

                            <td>
                                <strong style="color:red" th:text="${item.quantity}"></strong><br/>
                                <a th:href="${'/invest/list?code='+item.code}" style="color:#1E9FFF">交易历史</a><br/>
                            </td>
                            <td>
                                <script type="text/javascript" th:src="${'http://hq.sinajs.cn/list='+item.ecode}"
                                        charset="gb2312">
                                </script>
                                <span>今日开盘价：<script>document.write(hq_str_[[${item.ecode}]].split(",")[1])</script></span><br/>
                                <span>昨日收盘价：<script>document.write(hq_str_[[${item.ecode}]].split(",")[2])</script></span><br/>
                                <span style="color: red;">当前价格：<script>document.write(hq_str_[[${item.ecode}]].split(",")[3])</script></span><br/>
                                <span>今日最高价：<script>document.write(hq_str_[[${item.ecode}]].split(",")[4])</script></span><br/>
                                <span>今日最低价：<script>document.write(hq_str_[[${item.ecode}]].split(",")[5])</script></span><br/>
                                <span>成交金额：<script>document.write(hq_str_[[${item.ecode}]].split(",")[9] / 10000)</script></span>

                            </td>

                            <td>
                 <span>加入时价格：
                <b th:text="${#numbers.formatDecimal(item.joinPrice,0,2)}"></b>
                    </span><br/>
                                <span>加入时间：<span th:text="${item.createOn}"></span></span><br/>
                                <span th:text="${item.comment}"></span>

                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


    <script src="/static/layui/layui.js" charset="utf-8"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
    <script>
        var $;
        layui.use(['form', 'laydate'], function () {
            var form = layui.form
                , layer = layui.layer
                , laydate = layui.laydate;
            $ = layui.jquery;
            var openWinIndex;
            $(function () {

                $(".chat_k").on({
                    mouseover: function () {
                        var code = $(this).attr("ecode")
                        openWinIndex = layer.open({
                            type: 2,
                            title: false,
                            closeBtn: 1,
                            shadeClose: true,

                            area: ['565px', '320px'],
                            content: 'http://image.sinajs.cn/newchart/daily/n/' + code + '.gif'
                        });
                    },
                    // mouseenter: function () {
                    //
                    //     layer.close(openWinIndex);
                    // }
                });


                // $(".chat_k").mouseover(function () {
                //     var code = $(this).attr("ecode")
                //     openWinIndex = layer.open({
                //         type: 2,
                //         title: false,
                //         closeBtn: 1,
                //         shadeClose: true,
                //
                //         area: ['565px', '320px'],
                //         content: 'http://image.sinajs.cn/newchart/daily/n/' + code + '.gif'
                //     });
                //
                // });
                // $(".chat_k").mouseout(function () {
                //     layer.close(openWinIndex);
                // })
                $(".chat_k").click(function () {
                    var code = $(this).attr("ecode")
                    layer.open({
                        type: 2,
                        title: false,
                        closeBtn: 1,
                        shadeClose: true,

                        area: ['565px', '320px'],
                        content: 'http://image.sinajs.cn/newchart/daily/n/' + code + '.gif'
                    });

                });
            })

            $("#add_log").click(function () {
                var investId = $(this).attr("invest_id");
                //prompt层

                layer.prompt({title: '输入收盘价，并确认', formType: 0}, function (price, index) {
                    // debugger;
                    // layer.msg(price);
                    if (isNaN(price)) {
                        layer.msg("请输入收盘价");
                    } else {
                        layer.close(index);
                        layer.prompt({title: '记录涨跌幅，并确认', formType: 0}, function (rate, index) {
                            if (isNaN(rate)) {
                                layer.msg("请记录涨跌幅");
                            } else {
                                layer.close(index);
                                layer.prompt({title: '记录一下今天的心得，并确认', formType: 2}, function (text, index) {
                                    layer.close(index);
                                    var data = {
                                        investId: investId,
                                        price: price,
                                        rate: rate,
                                        comment: text
                                    };
                                    // layer.msg(JSON.stringify(data));
                                    $.ajax({
                                        url: "/invest/add_log_post",
                                        type: "POST",
                                        dataType: "JSON",
                                        data: JSON.stringify(data),
                                        success: function (res) {
                                            if (res.code == 0) {
                                                layer.msg("添加成功");
                                            } else {
                                                layer.msg(res.msg);
                                            }
                                        }
                                    });
                                    //AJAX保存
                                    // layer.msg('演示完毕！收盘价：' + price + '<br>涨跌幅度：' + rate + '<br>您最后写下了：' + text);
                                });
                            }
                        })
                    }

                });

            })

            $("#log_list").click(function () {
                var investId = $(this).attr("invest_id");
                layer.open({
                    type: 2,
                    title: '查看记录',
                    shadeClose: true,
                    shade: false,
                    maxmin: false, //开启最大化最小化按钮
                    area: ['600px', '600px'],
                    content: '/invest/log_list?id=' + investId
                });
            })
        })
    </script>
</div>

</body>
</html>