<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>投资交易记录</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
<blockquote class="layui-elem-quote">
    投资交易记录
    <!--本页面只是演示静态表格，如果你需要的是数据表格，可前往：-->
    <a class="layui-btn layui-btn-normal" href="/invest/add">添加交易记录</a>
</blockquote>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>默认表格</legend>
</fieldset>

<div class="layui-form">
    <table class="layui-table">
        <colgroup>
            <col width="150">
            <col width="150">
            <col width="150">
            <col width="150">
            <col width="150">
            <col width="200">
            <col>

            <col>
        </colgroup>
        <thead>
        <tr>
            <th>股票代码</th>
            <th>股票名称</th>
            <th>成交价</th>
            <th>成本价</th>
            <th>成交量</th>
            <th>交易时间</th>
            <th>策略说明</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item:${invest_list}">
            <td th:text="${item.code}">贤心</td>
            <td th:text="${item.name}">汉族</td>
            <td th:text="${#numbers.formatDecimal(item.price_buy,0,2)}"></td>
            <td th:text="${#numbers.formatDecimal(item.price_cost,0,2)}"></td>
            <td th:text="${item.count}"></td>
            <td th:text="${item.transactionTime}">1989-10-14</td>
            <td th:text="${item.strategy}">人生似修行</td>
            <td><a href="javascript:;" th:attr="invest_id=${item.id}" id="log_list">查看记录</a>&nbsp;&nbsp;&nbsp;<a href="javascript:;" th:attr="invest_id=${item.id}" id="add_log">添加记录</a></td>
        </tr>
        </tbody>
    </table>
</div>

<script src="/static/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use(['form', 'laydate'], function () {
        var form = layui.form
            , $ = layui.jquery
            , layer = layui.layer
            , laydate = layui.laydate;
        $("#add_log").click(function () {
            var investId = $(this).attr("invest_id");
            //prompt层

            layer.prompt({title: '输入收盘价，并确认', formType: 0}, function (price, index) {
                // debugger;
                // layer.msg(price);
                if (isNaN(price)) {
                    layer.msg("请输入收盘价");
                } else {
                    layer.close(index);
                    layer.prompt({title: '记录涨跌幅，并确认', formType: 0}, function (rate, index) {
                        if (isNaN(rate)) {
                            layer.msg("请记录涨跌幅");
                        } else {
                            layer.close(index);
                            layer.prompt({title: '记录一下今天的心得，并确认', formType: 2}, function (text, index) {
                                layer.close(index);
                                var data = {
                                    investId:investId,
                                    price:price,
                                    rate:rate,
                                    comment:text
                                };
                                // layer.msg(JSON.stringify(data));
                                $.ajax({
                                    url: "/invest/add_log_post",
                                    type: "POST",
                                    dataType: "JSON",
                                    data: JSON.stringify(data),
                                    success: function (res) {
                                        if (res.code == 0) {
                                            layer.msg("添加成功");
                                        } else {
                                            layer.msg(res.msg);
                                        }
                                    }
                                });
                                //AJAX保存
                                // layer.msg('演示完毕！收盘价：' + price + '<br>涨跌幅度：' + rate + '<br>您最后写下了：' + text);
                            });
                        }
                    })
                }

            });

        })

        $("#log_list").click(function(){
            var investId = $(this).attr("invest_id");
            layer.open({
                type: 2,
                title: '查看记录',
                shadeClose: true,
                shade: false,
                maxmin: false, //开启最大化最小化按钮
                area: ['600px', '600px'],
                content: '/invest/log_list?id='+investId
            });
        })
    })
</script>

</body>
</html>