<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: common_header(~{::title})">
    <title th:text="${article.title}">-投资日记</title>
</head>
<body th:replace="layout :: common_body(~{::div.layui-body})">
<div class="layui-body">
    <div class="section">
        <div class="container">
            <div class="tile">
                <div class="tile is-vertical is-parent ">
                    <div class="box">
                        <div class="media">
                            <blockquote class="layui-elem-quote layui-text" th:text="${article.title}">
                            </blockquote>
                        </div>

                    </div>
                    <div class="box" th:utext="${article.content}">


                    </div>
                </div>

            </div>
        </div>
</div>
</div>
</body>
</html>