
<!DOCTYPE HTML>
<html lang="">
<head>
    <meta charset="utf-8">
    <title>专属交易系统</title>
</head>
<body>
<ul>
    <li>
        <a target="_blank" href="/stock/list">自选股</a>
        <a target="_blank" href="/invest/list">投资记录</a>
    </li>
</ul>
<div id="price"></div>
<script type="text/javascript">
    ;(function(w){
        var loader = function(){
            var dc = document;
            function createScript(url, callback){
                var urls = url,
                    scripts = [],
                    completed = 0;
                for( var i = 0, len = urls.length; i < len; i++ ){
                    scripts[i] = dc.createElement('script');
                    scripts[i].src = urls[i];
                    dc.getElementsByTagName('head')[0].appendChild(scripts[i]);
                    if( scripts[i].readyState ){ //ie
                        scripts[i].onreadystatechange = function(){
                            if( this.readyState == 'complete' || this.readyState == 'loaded' ){
                                this.onreadystatechange = null; //确保事件不被处理2次
                                completed++;
                                completed >= urls.length ? callback() : '';
                            }
                        }
                    }else{ //not ie
                        scripts[i].onload = function(){
                            completed++;
                            completed >= urls.length ? callback() : '';
                        }
                    }
                }
            }
            function createLink(url, callback){
                var urls = url,
                    links = [];
                for( var i = 0, len = urls.length; i < len; i++ ){
                    links[i] = dc.createElement('link');
                    links[i].rel = 'stylesheet';
                    links[i].href = urls[i];
                    dc.getElementsByTagName('head')[0].appendChild(links[i]);
                }
                callback();
            }
            return {
                load: function(option, callback){
                    var _type = option.type || 'js',
                        _url = option.url,
                        _callback = callback || function(){};
                    switch( _type ){
                        case 'js':
                        case 'javascript':
                            createScript(_url, _callback);
                            break;
                        case 'css':
                            createLink(_url, _callback);
                            break;
                    }
                    return this;
                }
            }
        }();
        w.Cme ? '' : w.Cme = {};
        w.Cme.loader = loader;
    })(window);





    function hello(){
        // alert("hello");
        Cme.loader.load({
            url: [
                'http://hq.sinajs.cn/list=sh000001'
            ]
        },function(){
            var elements=hq_str_sh000001.split(",");
            document.getElementById("price").innerHTML = "上涨指数:"+elements[3];
            // document.write("current price:"+elements[3]);
            // alert( hq_str_sh600703 );
        })
    }
    hello();
    //重复执行某个方法
    // var t1 = window.setInterval(hello,10000);
    var t2 = window.setInterval("hello()",3000);
    //去掉定时器的方法
    // window.clearInterval(t1);

</script>


</body>
</html>
